<div class="container">
<form (ngSubmit)="createOrUpdate()">
  <body>
    <label for="selectt"><b>Customer List</b></label>
    <br/>
               <select class="form-control" name="selectt" id="selectt"  required>
                 <option value="" disabled selected>Select Customer</option>
                 <option value="1">Mark Benson</option>
                 <option value="2">Bob Smith</option>
                 <option value="3">John Draper</option>
                
               </select>
    <br/>

    <table class="table">
      <thead>
        <tr>      
          <th scope="col">Product</th>
          <th scope="col">Quantity</th>
          <th scope="col">Price</th>
        </tr>
      </thead>
    </table>
        <table class="table" id="dataTable" class="form" size="3" >
         
          <tbody>
            <tr id="row_0">
    
                <td>
                  
                  <select class="form-control" name="sel" id="sel" oninput="calculate('row_0')" style="border-color: gray;" required>
                    <option value="" disabled selected>Choose your option</option>
                    <option value="29">Parachute Pants</option>
                    <option value="2">Phone Holder</option>
                    <option value="3">Pet Rock</option>
                    <option value="4">Egg Timer</option>
                    <option value="5">Neon Green Hat</option>
                  </select>
                </td>
                 <td>
                  
                  <input border="0" style="border-color:gainsboro"
                    type="number"
                    required="required"
                    name="qty"
                    oninput="calculate('row_0')"
                  />
                </td>
                <td>
                  
                  <input style="border-color:gainsboro"
                    type="text"
                    required="required"
                    class="small"
                    name="total"
                  />
                </td>
            </tr>
          </tbody>
        </table>
    
    <input type="button" value="Add" onClick="addRow('dataTable')" />
  

    
    <div>
      <tr>
      <td><label>Discount</label>
              <input
                id="discount"
                type="number"
                required="required"
                name="discount"
                oninput="calculateFinalAmount(this.value)"
                [(ngModel)]="country.discount"
              /></td>
      <td>
      <label>Final Total</label>
              <input
                id="finalTotal"
                type="number"
                required="required"
                name="finalTotal"
                readonly="true"
                [(ngModel)]="country.finalTotal"
                /></td>
    </div>
        
    <div>
      <tr>
        <span>Sum</span>
        <span id="totalOfTotals">0</span>
      </tr>
    </div>
    <input type="submit" value="Submit" class="btn btn-success">
  </body>
</form>
<router-outlet></router-outlet>


      <!--<form (ngSubmit)="createOrUpdate()">
        <h2><strong>Invoice</strong></h2>
        



           <input type="submit" value="Submit" class="btn btn-success">

   



  <router-outlet></router-outlet>





  <!--<label for="id">Discount</label>
  <input type="text" name="discount" [(ngModel)]="country.discount" class="form-control">
 </div>

 <div class="form-group">
   <label for="name">FinalTotal</label>
   <input type="text" name="finalTotal" [(ngModel)]="country.finalTotal" class="form-control">
  </div>

  <div class="form-group">
   <label for="capital">Select</label>
   <input type="text" name="selectt" [(ngModel)]="country.selectt" class="form-control">
  </div> 


<body class="container" > 

  <div style="margin: 10px;">
      <a href="/invoices/display"><button type="button" class="btn btn-success pull-right"> < Back to List</button></a></div>-->

