<p>customers works!</p>
 <div class="container">
    <!-- uiView:  --><div ui-view="" class="ng-scope"><div ng-init="vm.init()" class="ng-scope">
      <table  class="mat-elevation-z8">
        <thead>
          <tr>
            <td>
                &nbsp;
                <!--you just need a space in a row-->
            </td>
        </tr>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Adress</th>
            <th>Phone</th>
            <tr>
              <td>
                  &nbsp;
                  <!--you just need a space in a row-->
              </td>
          </tr>
        </thead>

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
    

        <tbody>
          <tr class="ng-scope">
            <td class="ng-binding">1</td>
            <td class="ng-binding">	Mark Benson</td>
            <td class="ng-binding">	353 Rochester St, Rialto FL 43250</td>
            <td class="ng-binding">555-534-2342</td>
            <br>
          </tr>
          <tr>
            <td>
                &nbsp;
                <!--you just need a space in a row-->
            </td>
        </tr>
         
          <tr class="ng-scope">
          <td class="ng-binding">2</td>
          <td class="ng-binding">	Bob Smith</td>
          <td class="ng-binding">	215 Market St, Dansville CA 94325</td>
          <td class="ng-binding">	555-534-2342</td>

        </tr>
        <tr>
          <td>
              &nbsp;
              <!--you just need a space in a row-->
          </td>
      </tr>

        <tr class="ng-scope">
        <td class="ng-binding">3</td>
        <td class="ng-binding">John Draper</td>
        <td class="ng-binding">890 Main St, Fontana IL 31450</td>
        <td class="ng-binding">555-534-2342</td>

      </tr>
      <tr>
        <td>
            &nbsp;
            <!--you just need a space in a row-->
        </td>
    </tr>

        </tbody>
</table>
  </div></div>
</div>
  
  