<app-navbar>  
</app-navbar>

<div class="container">
  <router-outlet></router-outlet>
</div>



  <!--<nav> <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button
    <a routerLink="/departments" routerLinkActive="Active">Department</a>
    <a routerLink="/employees">Employees</a>
  </nav>
  
  <app-layout>
    <mat-sidenav-container>
      <mat-sidenav #sidenav role="navigation">
  
      </mat-sidenav>
      <mat-sidenav-content>
        <main>
          
        </main>
      </mat-sidenav-content>
  
    </mat-sidenav-container>
  </app-layout> -->