<p>products works!</p>
<div class="container">
  <div ui-view class="ng-scope">
    <!-- uiView:  --><div ui-view="" class="ng-scope"><div ng-init="vm.init()" class="ng-scope">
      <table  class="mat-elevation-z8">
        <thead>
          <tr>
            <td>
                &nbsp;
                <!--you just need a space in a row-->
            </td>
        </tr>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price (USD)</th>
            <tr>
              <td>
                  &nbsp;
                  <!--you just need a space in a row-->
              </td>
          </tr>
        </thead>

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
    

        <tbody>
          <tr class="ng-scope">
            <td class="ng-binding">1</td>
            <td class="ng-binding">Parachute Pants</td>
            <td class="ng-binding">$ 29.99</td>
            <br>
          </tr>
          <tr>
            <td>
                &nbsp;
                <!--you just need a space in a row-->
            </td>
        </tr>
         
          <tr class="ng-scope">
          <td class="ng-binding">2</td>
          <td class="ng-binding">Phone Holder</td>
          <td class="ng-binding">$ 9.99</td>
        </tr>
        <tr>
          <td>
              &nbsp;
              <!--you just need a space in a row-->
          </td>
      </tr>

        <tr class="ng-scope">
        <td class="ng-binding">3</td>
        <td class="ng-binding">Pet Rock</td>
        <td class="ng-binding">$ 5.99</td>
      </tr>
      <tr>
        <td>
            &nbsp;
            <!--you just need a space in a row-->
        </td>
    </tr>

      <tr class="ng-scope" >
      <td class="ng-binding">4</td>
      <td class="ng-binding">Egg Timer</td>
      <td class="ng-binding">$ 15.99</td>
    </tr>
    <tr>
      <td>
          &nbsp;
          <!--you just need a space in a row-->
      </td>
  </tr>


    <tr class="ng-scope">
    <td class="ng-binding">5</td>
    <td class="ng-binding">Neon Green Hat</td>
    <td class="ng-binding">$ 21.99</td>
  </tr>
  <tr>
    <td>
        &nbsp;
        <!--you just need a space in a row-->
    </td>
</tr>
  

</table>

  </div></div>
</div>
</div>